{% extends "main/base.html" %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-6">

        <div class="card">
  <img class="card-img-top" src="../media/mysite/default/5.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Водители</h5>
    <p class="card-text">Все водители компании, их статус и личная информация</p>
    <a href="/workers" class="btn btn-primary">Перейти к списку водителей</a>
  </div>
</div>

      </div>
      <div class="col-lg-6">

      <div class="card">
  <img class="card-img-top" src="../media/mysite/default/2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Сервисный центр</h5>
    <p class="card-text">Заказы, детали, список работ</p>
    <a href="/service" class="btn btn-primary">Перейти в сервисный центр</a>
  </div>
</div>
      
      </div>
      </div>
      <div class="row mt-41">

      <div class="col-lg-6">

      <div class="card">
  <img class="card-img-top" src="../media/mysite/default/4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Список автомобилей</h5>
    <p class="card-text">Все наименования, виды и марки авто в одном разделе</p>
    <a href="/cars" class="btn btn-primary">Перейти к автомобилям</a>
  </div>
</div>

      </div>
      <div class="col-lg-6">

      <div class="card">
  <img class="card-img-top" src="../media/mysite/default/1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Заказы</h5>
<p class="card-text">Все активные и завершенные заказы</p>
    <a href="/orders" class="btn btn-primary">Перейти к заказам</a>
  </div>
</div>
        </div>

    </div>
  </div>

{% endblock content %}

